body {
    margin: 0;
}

/*All stuff regarding header and hero :] */
.header {
    background-color: #1f2937;
    padding: 0px 150px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    font-size: 18px;
    margin-top: 0;
    gap: 16px;
    color: #e5e7eb;
    display: flex;
}

ul {
    list-style-type: none;
}

.hero .title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero {
    padding: 80px 0px;
    display: flex;
}

.hero .container {
    padding-right: 50px;
}

.header .subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    background-color: #3882f6;
    padding: 2px 20px;
    margin-top: 10px;
    border-radius: 5px;
}

/* All parts below regarding information section */

.information {
    margin-bottom: 75px;
}

.information .title {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information .content {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 25px;

}

.information .subtext {
    font-size: 18px;
    max-width: 220px;
}

img {
    border-radius: 7px;
}


